<footer class="footer">
  <small>
    TODO APP by Ngan Vu
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Github Repo", 'https://github.com/thuynganvu/todo' %></li>
    </ul>
  </nav>
</footer>